</main>
<footer> </div>
  <p>&copy; 2023 BRAINY. All rights reserved.</p>
   </div>
  <div class="sociallinks">
    <div class="social-media">
      <a href="https://www.youtube.com/@pateldev200" target="_blank" rel="noopener noreferrer">
        <img src="/images/youtube.png" alt="Facebook">
      </a>
      <a href="https://www.linkedin.com/in/dev-patel-226167258?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank" rel="noopener noreferrer">
        <img src="/images/linkedin.png" alt="LINKEDIN">
      </a>
      <a href="https://github.com/pateldev11" target="_blank" rel="noopener noreferrer">
        <img src="/images/github.png" alt="GITHUB">
      </a>
      <a href="https://instagram.com/_dev_patel_11?igshid=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr" target="_blank" rel="noopener noreferrer">
        <img src="images/instagram.png" alt="INSTAGRAM">
      </a>
</footer>
  </div>
 <link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/creative.css">
</body>
</html>
