</main>
<footer class="theme-black-white">
    <div class="footer-social">
        <a href="#" class="social-icon">Facebook</a>
        <a href="#" class="social-icon">Twitter</a>
        <a href="#" class="social-icon">LinkedIn</a>
    </div> <!-- Your footer content here -->
</footer>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/creative.css">
</body>
</html>
