<%- include('partials/header') %>
    <section class="about">
        <h2>About Me</h2>
        <img src="/images/Snapchat-1251880000.jpg" alt="Your Name">
        <p>Your short paragraph about yourself.</p>
        <a href="/resume.pdf" download>Download Resume</a>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </section>
<%- include('partials/footer') %>
