<%- include('partials/header') %> 

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/creative.css">
    <section class="hero">
        <h1>Welcome to My Portfolio</h2>
        <p>A brief introduction about yourself goes here.</p>
        <img src="/images/bg.jpeg" alt="Your Image">
        <br>
        <a href="/projects" class="cta-button">View My Projects</a>
    </section>
    <section class="about">
        <h2>About Me</h2>
        <p>A short bio or summary of your skills and experience.</p>
        <img src="/images/dev.jpg" alt="Your Photo">
        <div class="social-links">
            <a href="your-linkedin-profile">LinkedIn</a>
            <a href="your-github-profile">GitHub</a>
        </div>
            </section>
<%- include('partials/footer') %>
