<%- include('partials/header') %>

    <section class="welcome">
        
        <h1>Welcome to Coder's Den!</h1>
        <br>
        <!-- Add other content for your home page -->

        <link rel="stylesheet" href="/stylesheets/style.css">
       
        <div class="mission">
            <h2>Mission Statement</h2>
            <p>My mission is to create elegant and user-friendly websites and web applications that solve real-world problems. I'm committed to staying at the forefront of web technology to deliver the best solutions for my clients.</p>
        </div>
        
    </div>
    </section>
    <div>
    <a href="/about" class="btn">Learn More</a>
</div>
<%- include('partials/footer') %>
