<%- include('partials/header') %>
    <section class="projects">
        <h2>Projects</h2>
        <div class="project">
            <img src="/images/project1.jpg" alt="Project 1">
            <p>Description of Project 1.</p>
        </div>
        <div class="project">
            <img src="/images/project2.jpg" alt="Project 2">
            <p>Description of Project 2.</p>
        </div>
        <div class="project">
            <img src="/images/project3.jpg" alt="Project 3">
            <p>Description of Project 3.</p>
        </div>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </section>
<%- include('partials/footer') %>
