<%- include('partials/header') %>
<section class="blog">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <h2>Blog</h2>
    <div class="blog-post">
        <h3>Blog Post 1</h3>
        <p>Date: [Date]</p>
        <p>Summary of Blog Post 1.</p>
        <a href="blogpost1.html">Read More</a>
    </div>
    <div class="blog-post">
        <h3>Blog Post 2</h3>
        <p>Date: [Date]</p>
        <p>Summary of Blog Post 2.</p>
        <a href="blogpost2.html">Read More</a>
    </div>
    <!-- Add more blog posts as needed -->
</section>
<%- include('partials/footer') %>
