<%- include('partials/header') %>
<section class="blog">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <h2>Blog</h2>
    <div class="blog-post">
        <h3>Blog Post 1</h3>
        <p>Date: [Date]</p>
        <p>Summary of Blog Post 1.</p>
        <a href="blogpost1.html">Read More</a>
    </div>
    <div class="blog-post">
        <h3>Blog Post 2</h3>
        <p>Date: [Date]</p>
        <p>Summary of Blog Post 2.</p>
        <a href="blogpost2.html">Read More</a>
    </div>
    <!-- Add more blog posts as needed -->

    <section id="testimonials">
        <!-- Client Testimonials section -->
        <h2>Client Testimonials</h2>
        <div class="testimonial">
            <blockquote>"Working with Brainy was a great experience. He delivered a beautiful and functional website for our business. Highly recommended!"</blockquote>
            <cite>- Navin Patel, Wadiya Electronics</cite>
        </div>
        <div class="testimonial">
            <blockquote>"Dev Patel is a talented developer with a keen eye for detail. [He/She] exceeded our expectations, and we're thrilled with the results!"</blockquote>
            <cite>- Ritesh Wadiya, New Umiya Freeze</cite>
        </div>
    </section>
</section>
<%- include('partials/footer') %>
