<%- include('partials/header') %>
    <section class="services">
        <h2>Services</h2>
        <!-- Your service details here -->
        <link rel="stylesheet" href="/stylesheets/style.css">
    </section>
<%- include('partials/footer') %>
