/* Add styles for the contact form */
.container {
  margin-top: 5%;
  display: flex;
    justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.contact-form {
  background-color: lightslategray;
  color: lavender;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 400px;
}

.contact-form h2 {
  font-size: 28px;
  color: lavender;
  margin-bottom: 20px;
}

.contact-form p {
  font-size: 16px;
  color: lavender;
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  color: lavender;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.contact-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}

/* Add styles for the contact information */
.contact-info {
  background-image: linear-gradient(lightslategray,lavender);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin-top: 20px;
}
.contact-info ul li{
  color: black;
  font-size: medium;
  font-style: italic;
  font-weight: bold;

}

.contact-info p {
  font-size: 16px;
  color: black;
  margin-bottom: 20px;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 10px;
}

.contact-info a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.contact-info a:hover {
  text-decoration: underline;
}
